.footer{
  background-color:var(--black);
  height: 3vh !important;
  position: fixed !important;
  bottom:0;
  width:100%
}

.span1{
  color:#f2f2f2;
  background-color: var(--black);
  font-size: 12px;
}

.span2{
  color: var(--LightClor);
  font-size: 12px;
}
