<!-- <p style="background-color: black;">dsdfdsf</p> -->
<div class="container-fluid mainCont">

  <app-header></app-header>


  <div class="row" style="height: 90vh;">
    <div class="col-lg-6 col-12">
      <div class="row mt-5">
        <div class="col-lg-12 col-12 d-flex justify-content-center ">
          <span class="logoimg">
            <img [src]="theme.biglogo"
              class="rounded logo-full-width  pt-2 pl-4 pr-4 pb-2">

          </span>

        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  d-flex justify-content-center">
          <span [class.signToggle]='signupToggle==false' [class.colorchng]='signupToggle==true' class="mr-5"
            (click)="loginSelect()" style=" font-size: xx-large; cursor: pointer;">
            Log in
          </span>
          <span style=" font-size: large;">
            or
          </span>
          <span [class.signToggle]='signupToggle==true' [class.colorchng]='signupToggle==false' class="ml-5"
            (click)="signupSelect()" style="font-size: xx-large; cursor: pointer; ">
            Sign up
          </span>
        </div>

      </div>

      <div class="row d-flex justify-content-center">


        <form class="login-form mt-5" *ngIf="!signupToggle" [formGroup]="login" (ngSubmit)="loginSubmmit()" (keydown.enter)="$event.preventDefault()">
          <mat-form-field appearance="outline" class="input-full-width " >
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="your@example.com" formControlName="loginEmail">
            <mat-error *ngIf="login.controls['loginEmail'].invalid">{{getError('loginEmail')}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'"  matInput placeholder="Password" formControlName="loginPassword">
            <mat-icon matSuffix style="cursor: pointer !important;" (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="login.controls['loginPassword'].invalid">{{getError('loginPassword')}}</mat-error>

          </mat-form-field>

          <div class="col-12 mt-2 mb-2" style="padding: 0 !important;">
            <mat-checkbox>Keep me signed in</mat-checkbox>
          </div>
          <button mat-raised-button class="loginBtn" type="submit" >Sign in</button>
          <div class="col-12 mt-3 nopadding">
            <a> Forgot my password! </a>

          </div>
        </form>

        <!-- SIgnUp Form -->

        <form class="signup-form mt-5" *ngIf="signupToggle" [formGroup]="signUp">
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>First name</mat-label>
                <input type="text" matInput placeholder="First name" formControlName="firstname"  required>
                <mat-error *ngIf="signUp.controls['firstname'].invalid">{{getError('firstname')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6" style="padding-left: 0 !important;">
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Last name</mat-label>
                <input type="text" matInput placeholder="Last name"  formControlName="lastname" required>
                <mat-error *ngIf="signUp.controls['lastname'].invalid">{{getError('lastname')}}</mat-error>
              </mat-form-field>
            </div>

          </div>

          <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="your@example.com" formControlName="email" required>
            <mat-error *ngIf="signUp.controls['email'].invalid">{{getError('email')}}</mat-error>
          </mat-form-field>

          <div class="row">
            <div class="col-3" style="padding-right: 0 !important;">
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>IN +91</mat-label>

                <input type="tel" matInput disabled >

              </mat-form-field>
            </div>
            <div class="col-9">
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Phone</mat-label>

                <input type="tel" matInput placeholder="555-555-1234" formControlName="phone" required>
                <mat-error *ngIf="signUp.controls['phone'].invalid">{{getError('phone')}}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="signUp.controls['password'].invalid">{{getError('password')}}</mat-error>
            <mat-icon matSuffix style="cursor: pointer !important;" (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint>Your password must be 8 to 20 chars long</mat-hint>
          </mat-form-field>




          <button mat-raised-button class="loginBtn mt-3">Create Account</button>

        </form>
      </div>


    </div>
    <div class="col-lg-6 col-12 backGroundColor">
      <div class="row sliderRow">
        <div class="head">
          <div class="heading  mt-5">
            Optimize your fleet opertaions!
          </div>
          <div class=" belowLine mt-4"  >
            A holistic fleet management solution to manage fleets of all sizes, be it 10 or 10,000 vechicles!
          </div>
          <div class=" d-flex justify-content-end mt-4  link">
            <a>LEARN MORE
              <img src="assets/images/circle_right.png" class="ml-1 arrow-circle_right" alt="">
            </a>
          </div>
        </div>
      </div>
      <app-slider></app-slider>
    </div>
  </div>
  <div class="col-12">
    <app-footer></app-footer>
  </div>

</div>


<div class="modal fade bd-example-modal-sm" id="errorInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-11 pr-0 pt-3 ">
        <!-- <span class="modal-title d-flex justify-content-center modalHeading"  id="exampleModalLabel"> EOL Successful</span> -->
         <div class="row">
           <div class="col-12 pr-5 pl-5 pt-3 ">
            <div class="row">
              <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                <img  src="assets/images/icon-done.svg" alt="">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
               {{statusMsg}}
              </div>
            </div>
           </div>
         </div>
          <div class="row mt-2">
            <div class="col-12 pr-5 pl-5 pt-3 pb-3 d-flex justify-content-center">
  <button type="button" class="btn btn-secondary" style="background-color: var(--clor);  font-weight: 500 !important; width: 45% !important; " data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-1 pl-0">
       <mat-icon class="pt-3" style="margin-left: -16px !important; cursor: pointer;" data-dismiss="modal" >clear</mat-icon>
        </div> -->
      </div>
    </div>
  </div>
</div>
