.Drop-zone {
  width: 128px;
  height: 27px;
  /* margin: 32px 114px 15px 210px; */
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}
.Upload {
  width: 51px;
  height: 24px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.upload {
  width: 50px;
  height: 52px;
  margin: 0 103px 23px 93px;
  object-fit: contain;
}
.Rectangle {
  width: 163px;
  height: 40px;
  /* margin: 14px 28px 11px 107px; */
  padding: 8px 11px 8px 6px;
  border-radius: 4px;
  border: solid 1px var(--clor);
  background-color: #ffffff;
}

::ng-deep .my-menu {
  min-width: 350px !important;

  /* padding: 20px; */

}

::ng-deep .mat-form-field-wrapper{
  padding: 0 !important;
}

.mat-menu-item{
  line-height:35px;
  height:55px;
}

.example-radio-group {
  display: flex; flex-direction: column;
  /* display: inline-grid; */
  /* display: grid; */
  margin: 10px 0;
}

.Rectangle:focus{
  outline: none;
}
.modalUploadButton{
  width: 88px;
  height: 40px;
  /* margin: 24px 390px 37px 42px; */
  /* padding: 8px 18px 8px 19px; */
  border-radius: 4px;
  background-color: var(--clor);
  border: 0px;
}
.modalUploadButton:focus{
  outline: none;
}
.filterInput{
  height: 40px !important;
  width: 100%;
  font-size: 14px;
  /* margin-top: 10px; */
  border: 1px solid var(--Grey) !important;
  outline: none !important;
  border-radius: 4px !important;
}

select option{
  font-size: 14px !important;
}
/* .Drop-files-here-or-c {
  width: 246px;
  height: 19px;
  margin: 23px 0 0;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
} */

.spacer{
  flex: 1 1 auto;
}

.FilterIcon{
  outline: none !important;
  display: inline !important;
  margin-right: 10px;

}


.header{
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 64px;
  border-top: 1px solid var(--black);
}

.spacer{
  flex: 1 1 auto;
}

.searchBox{
  width: 252px !important;
  max-height: 36px;
  background-color: #f2f2f2;
  border-radius: 18px;
  margin-left: 15px;
  border: solid 1px var(--Grey);
}

.searchIcon{
  padding: 8px 7px 6px 17px;


}
.iconBtn{
  outline:none !important;
}

.dateInput{
  max-width: 350px;
  /* padding-left: 14px ; */
  padding-top: 30px;
  margin-left: -24px ;

}

.input-full-width {
  width: 100%;
}



.eol1{
  transform: translateY(-1.4em) scale(.8);
  max-width: 133.33333%;
  max-height: 60px !important;
  font-size: 16px !important;
  top: -1.3em;
  padding: 4em 2em !important;


}

  .search_input{
  color: black;
  border: 0;
  outline: 0;
  background:none;
  max-width: 200px !important;
  height: 30px;
  margin-left: 15px !important;
  margin-top: -12px !important;
  margin-bottom: 6px !important;
  font-size: 12px !important;
  padding: 12px 10px !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

  }

th{
  position: sticky;
  top: 0;
}

th,td{
  text-align: center;
  font-size: 12px;
  vertical-align: middle !important;
  border: 1px solid red;
  padding: 10px !important;

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */


}
.table-bordered td, .table-bordered th{
  border: 1px solid var(--Grey);
}




.table .thead-dark th{
  background-color: var(--black) !important;
}


tbody tr{
  /* background-color: violet; */
  width: 100%;
}



.overflow{
  overflow:auto !important;
  height: 75vh !important;
  width: 84vw !important;
  /* border: 1px solid var(--black); */
  /* border-radius: 2px; */
}

.overflow1{
  overflow:auto !important;
  height: 75vh !important;
  width: 74vw !important;
  /* border: 1px solid var(--black); */
  /* border-radius: 2px; */
}

table{
  display:table;
  width:100%;
  table-layout: fixed;
  /* table-layout:fixed; */
}


/*
.badgedisplay{
  margin-top: -21px;
  margin-left: 21px;
} */

.badgedisplay1{
  display: none !important;
   }



@media  screen and (min-width: 1000px) and (max-width: 2600px)  {


}

@media  screen and (min-width: 320px) and (max-width: 1000px)  {

  .searchBox{
    width: 190px !important;
    max-height: 36px;
    background-color: #f2f2f2;
    border-radius: 18px;
    margin-left: 15px;
    border: solid 1px var(--Grey);
  }

  ::ng-deep .my-menu {
    min-width: 300px !important;

    /* padding: 20px; */

  }
  .badgedisplay1{
    display: inline !important;
     }

  .badgedisplay{
    display: none !important;
  }
}



.bordered {
    /* border: solid transparent 1px; */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

 .bordered th {
    /* border-left: 1px solid var(--black); */
    /* border-top: 1px solid var(--black); */
    padding: 10px;
}


.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.filterBox{
  width: 100px !important;
  max-height: 24px;
  background-color: #f2f2f2;
  border-radius: 18px;
  margin-left: 20px;
  border: solid 1px var(--Grey);
  /* line-height: 0 !important; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterBox span{

font-size: 14px;
font-weight: 300;
color: var(--black);
/* text-align: center; */
/* padding: 1px !important; */
padding-left: 10px !important;

}

::ng-deep .mat-icon-button{
outline: none !important;
}

.modalHeading {
  font-size: 34px !important;
  background-color: #ffffff;
  color: var(--black);
  font-weight: 500 !important;
}

.sub-heading {
  font-size: 16px;
  background-color: #ffffff;
  color: var(--black);
  font-weight: 500 !important;
}

.submitDialog {
  background-color: var(--clor);
  font-weight: 500 !important;
  width: 100% !important;
  outline: none;
  border: none !important;
  height: 44px !important;
}




