
<router-outlet></router-outlet>

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> <br/>
<button mat-raised-button  class="loginBtn">Create Account</button> <br/>

<button mat-raised-button style="margin-left: 20px; margin-top: 20px;" class="basicRaisedbtn">Button</button>
<button mat-raised-button style="margin-left: 20px;" class="btnleft">
  <mat-icon aria-hidden="false" class="btnIconLeft" >add</mat-icon>
  Left Icon</button>

  <button mat-raised-button style="margin-top: 20px; margin-left: 20px;" class="btnleft">
     Right Icon
     <mat-icon aria-hidden="false" class="btnIconRight">add</mat-icon>
  </button>

  <button mat-raised-button style="margin-left: 20px;" class="basicRaisedbtn">
    <mat-icon aria-hidden="false" class="btnBasicIcon">add</mat-icon>
  </button> <br/>

  <button mat-stroked-button style="margin-left: 20px; margin-top: 20px;" class="btnStrBasic">Button</button>

  <button mat-stroked-button style="margin-left: 20px; margin-top: 20px" class="btnStrLeft">
    <mat-icon aria-hidden="false" class="btnStrIconLeft" >add</mat-icon>
    Left Icon</button>

    <button mat-stroked-button style="margin-left: 20px; margin-top: 20px" class="btnStrLeft">
      Right Icon <mat-icon aria-hidden="false" class="btnStrIconRight" >add</mat-icon></button>


      <button mat-stroked-button style="margin-left: 20px; margin-bottom: 20px" class="btnStrBasic">
        <mat-icon aria-hidden="false" class="btnStrIcon">add</mat-icon>
      </button> <br/>


<mat-checkbox style="margin-left: 20px; margin-top: 20px;" >Default Checkbox</mat-checkbox>
<mat-checkbox style="margin-left: 20px; margin-bottom: 20px" >Default Checkbox</mat-checkbox> <br/>

<mat-radio-group aria-label="Select an option" style="margin-left: 20px; margin-top: 20px" >
  <mat-radio-button value="1" style="margin-left: 20px;">Option 1</mat-radio-button>
  <mat-radio-button value="2" style="margin-left: 20px;">Option 2</mat-radio-button>
</mat-radio-group> <br/>

<mat-slide-toggle style="margin-left: 20px; margin-top: 20px" >Switch or Slide</mat-slide-toggle>
<mat-slide-toggle style="margin-left: 20px; margin-top: 20px" >Switch or Slide</mat-slide-toggle> <br/> -->

<!-- <mat-checkbox  style="margin-left: 20px;" [disabled]="true">Disabled</mat-checkbox> -->

<!-- <form class="example-form" style="margin-left: 20px; margin-top: 20px;" >
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="email" matInput  placeholder="Password">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->

<!--
<mat-progress-bar style=" margin-left: 20px; width: 300px !important;" mode="determinate" value="40"></mat-progress-bar>

<mat-progress-bar style=" margin-left: 20px; width: 300px !important; margin-top: 20px;" mode="indeterminate"></mat-progress-bar> -->


<!-- Drop zone UI -->
<!--
<form action="upload.php" method="POST">
  <input type="file" multiple>
  <p>Drag your files here or click in this area.</p>
  <button type="submit">Upload</button>
  <button mat-raised-button style="margin-left: 200px; margin-top: 20px;" class="basicRaisedbtn">Upload File</button>
</form> -->


