.headingRow {
  height: 5vh;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contentRow {
  /* margin-top: 5px; */
  height: 85vh;
  background-color: #FFFFFF;
  margin-top: 12px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.tabContent {
  height: 94%;
  width: 100%;
  /* background-color: yellow; */
}

.filterInput {
  height: 44px !important;
  width: 100%;
  font-size: 14px;
  border: 1px solid #f2f2f2 !important;
  outline: none !important;
  border-radius: 4px !important;
  /* text-align: center;   */
  padding-left: 21px;
  padding-right: 21px;
  /* font-weight: 500; */
  background-color: #f2f2f2;
  margin-top: 7px;
}

.filterInput:focus {
  border: 1px solid var(--clor) !important;
}

.err {
  color: red;
  font-size: 11px;
  position: absolute;
}

.tabHeading {
  border-bottom: 1px solid var(--Grey);
  border-right: 1px solid var(--Grey);
  margin-top: 6px;
}

.tabHeadingSelc {
  border-bottom: 2px solid var(--clor);
  border-right: 1px solid var(--Grey);
  margin-top: 6px;
}

.tabSubHeading {
  font-size: 18px;
  font-weight: 500;
  margin-left: 13px;
}

.tabSubHeadingSelec {
  font-size: 18px;
  font-weight: 500;
  margin-left: 13px;
  color: var(--clor);
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep .acoordianParent .mat-expansion-panel {
  width: 370px !important;
  background-color: var(--backGround);
  border: solid 0.5px var(--Grey);
  /* margin-bottom: 20px;
   margin-left: 20px; */
  box-shadow: none !important;
  display: inline-grid !important;
}

.btnwidth {
  width: 155px !important;
  height: 44px !important;
  font-size: 15px !important;
  outline: none !important;
}

.searchBox {
  width: 252px !important;
  max-height: 36px;
  background-color: #f2f2f2;
  border-radius: 18px;
  margin-left: 15px;
  border: solid 1px var(--Grey);
  display: inline-block;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  max-width: 200px !important;
  height: 30px;
  margin-left: 15px !important;
  margin-top: -12px !important;
  margin-bottom: 6px !important;
  font-size: 12px !important;
  padding: 12px 10px !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.vehicleHeading {
  font-size: 18px;
  font-weight: 500;
}

.vehicleHeadingSelc {
  font-size: 18px;
  font-weight: 500;
  color: var(--clor);
}

.searchIcon {
  padding: 7px 0px 0px 17px;
}

.warapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards {
  width: 180px;
  height: 60px;
  padding: 2px 5px 0px 13px;
  border-radius: 8px;
  background-color: #cde2f0;
  margin: 20px;
}

.cardName {
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
}

.modalHeading {
  font-size: 34px !important;
  background-color: #ffffff;
  color: var(--black);
  font-weight: 500 !important;
}

.sub-heading {
  font-size: 16px;
  background-color: #ffffff;
  color: var(--black);
  font-weight: 500 !important;
}

.submitDialog {
  background-color: var(--clor);
  font-weight: 500 !important;
  width: 100% !important;
  outline: none;
  border: none !important;
  height: 44px !important;
}
