<div style="overflow: hidden !important; background-color: var(--backGround); padding: 25px; padding-top: 0;">
  <div class="row headingRow">
    <div class="col-6" style="padding-left: 15px !important; line-height: 1.3;">
      <span *ngIf="!editFlag" style="font-size: 22px; font-weight: 500;">
        Create new user
      </span>
      <span *ngIf="editFlag" style="font-size: 22px; font-weight: 500;">
        Edit user
      </span>
       <br>
      <span style="font-size: 14px; color: var(--darkGrey);">
        Easily view the group's hierarchy and manage your workflow easily!
      </span>
    </div>
    <div class="col-6 d-flex justify-content-center">

    </div>
  </div>
  <div class="contentRow">
    <div class="row" style="height: 45px !important;">
      <div class="col-4" (click)="toggleSubmenu(1)" style="padding-left: 30px !important;" [ngClass]="{'tabHeading' : tabCount != 1, 'tabHeadingSelc': tabCount == 1}">
        <div class="row">
          <div class="col-11 d-flex align-items-center">
            <img src="assets/images/user-grey.svg" *ngIf="tabCount != 1"  alt="">
            <img src="assets/images/user1.svg" *ngIf="tabCount == 1"  alt="">

            <span [ngClass]="{'tabSubHeading' : tabCount != 1, 'tabSubHeadingSelec': tabCount == 1}" >
              Personal Details
            </span>
          </div>
          <div class="col-1 d-flex align-items-center" style="margin-left: -30px;">
            <img src="assets/images/info.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col-4" (click)="toggleSubmenu(2)" style="padding-left: 30px !important;" [ngClass]="{'tabHeading' : tabCount != 2, 'tabHeadingSelc': tabCount == 2}">
        <div class="row">
          <div class="col-11 d-flex align-items-center">
            <img src="assets/images/auth-grey.svg" *ngIf="tabCount != 2" style="color: black !important;" alt="">
            <img src="assets/images/auth.svg" *ngIf="tabCount == 2" style="color: black !important;" alt="">

            <span [ngClass]="{'tabSubHeading' : tabCount != 2, 'tabSubHeadingSelec': tabCount == 2}" >
              Role Management
            </span>
          </div>
          <div class="col-1 d-flex align-items-center" style="margin-left: -30px;">
            <img src="assets/images/info.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col-4" (click)="toggleSubmenu(3)" style="padding-left: 30px !important;" [ngClass]="{'tabHeading' : tabCount != 3, 'tabHeadingSelc': tabCount == 3}">
        <div class="row">
          <div class="col-11 d-flex align-items-center">
            <img src="assets/images/case-grey.svg" *ngIf="tabCount != 3" style="color: black !important;" alt="">
            <img src="assets/images/case.svg" *ngIf="tabCount == 3" style="color: black !important;" alt="">

            <span [ngClass]="{'tabSubHeading' : tabCount != 3, 'tabSubHeadingSelec': tabCount == 3}" >
              Grant Access
            </span>
          </div>
          <div class="col-1 d-flex align-items-center" style="margin-left: -30px;">
            <img src="assets/images/info.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="tabContent" *ngIf="tabCount == 1">
      <div class="row" style="margin-top: 25px;">
        <div class="col-12" style="padding-left: 30px !important; line-height: 1.3 !important;">
          <span style="font-size: 22px; font-weight: 500;">Personal Details</span> <br>
          <span style="font-size: 14px; color: var(--darkGrey);"> Enter the user details using which the person will be
            able to login once you fill in all the details. A verificaton request will be sent to the user</span>
        </div>
      </div>
      <div class="row" [formGroup]="createUserForm" style="height: 60% !important; margin-top: 30px;">
        <div class="col-8" style="padding-left: 30px !important;">
          <div class="row">
            <div class="col">
              <span style="font-size: 12px; font-weight: 400; padding-left: 5px;">First Name</span> <br>
              <span>
                <input placeholder="Enter First Name" formControlName="firstName" class="filterInput" required>
              </span> <br>
              <span *ngIf="firstName.touched" class="err">
                <span *ngIf="firstName.errors?.required" >First name is required</span>
                <span *ngIf="firstName.errors?.pattern" >Enter a valid First name</span>
              </span>
              <span class="err" *ngIf="firstName.errors && firstName.dirty && firstName.errors.cannotContainSpace">First name can not contain space.</span>

            </div>
            <div class="col">
              <span style="font-size: 12px; font-weight: 400; padding-left: 5px;">Last Name</span> <br>
              <span>
                <input placeholder="Enter Last Name" formControlName="lastName" class="filterInput">
              </span><br>
              <span *ngIf="lastName.touched" class="err">
                <span *ngIf="lastName.errors?.required" >Last name is required</span>
                <span *ngIf="lastName.errors?.pattern" >Enter a valid Last name</span>
                <!-- <span *ngIf="lastName.errors.cannotContainSpace">Last name can not contain space</span> -->
              </span>
              <span class="err" *ngIf="lastName.errors && lastName.dirty && lastName.errors.cannotContainSpace">Last name can not contain space.</span>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col">
              <span style="font-size: 12px; font-weight: 400; padding-left: 5px;">User Name</span> <br>
              <span>
                <input placeholder="Enter User Name" formControlName="userName" class="filterInput">
              </span><br>
              <span *ngIf="userName.touched" class="err">
                <span *ngIf="userName.errors?.required" >User Name is required</span>
              </span>
              <span class="err" *ngIf="userName.errors && userName.dirty && userName.errors.cannotContainSpace">User name can not contain space.</span>

            </div>
            <div class="col">
              <span style="font-size: 12px; font-weight: 400; padding-left: 5px;">Email</span> <br>
              <span>
                <input placeholder="your@email.com" formControlName="email" class="filterInput" >
              </span><br>
              <span  *ngIf="email.touched" class="err">
                <span *ngIf="email.errors?.required">Email is required</span>
                <span *ngIf="email.errors?.pattern">Enter a valid email</span>

              </span>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col">
              <span style="font-size: 12px; font-weight: 400; padding-left: 5px;">Phone</span> <br>
              <div class="row">
                <div class="col-3">
                  <input placeholder="IN+91" class="filterInput" style="font-weight: 600; color: #000000; padding-left: 10px !important; padding-right: 10px !important;" disabled>
                </div>
                <div class="col-9">
                  <input placeholder="987654321" type="text" formControlName="phoneNumber" class="filterInput"><br>
                  <span *ngIf="phoneNumber.touched" class="err">
                    <span *ngIf="phoneNumber.errors?.required" >Phone is required</span>
                    <span *ngIf="this.createUserForm.get('phoneNumber').hasError('minlength') || this.createUserForm.get('phoneNumber').hasError('maxlength')" >Phone should be  of 10 digits.</span>
                    <span *ngIf="phoneNumber.errors?.pattern && !phoneNumber.errors?.minlength && !phoneNumber.errors?.maxlength" >Phone should be a number.</span>
                    <!-- <span *ngIf="phone.errors?.maxlength" >Phone should be max of 10 digits.</span> -->
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-secondary" (click)="CreateUser()" [disabled]="!this.createUserForm.valid"
              style="background-color: var(--clor);  font-weight: 500 !important; width: 15% !important; height: 44px !important; outline: none !important; border: none !important; margin-top: 30px;">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabContent" *ngIf="tabCount == 2">
      <div class="row" style="margin-top: 25px;">
        <div class="col-12" style="padding-left: 30px !important; line-height: 1.3 !important;">
          <span style="font-size: 22px; font-weight: 500;">Assign role to
            <span style="font-weight: 600;" *ngIf="!editFlag" >{{userDataArr?.firstName}}</span>
            <span style="font-weight: 600;" *ngIf="editFlag" >{{specificEditData.firstName}}</span>

          </span> <br>
          <span style="font-size: 14px; color: var(--darkGrey);"> Enter the user details using which the person will be
            able to login once you fill in all the details. A verificaton request will be sent to the user</span>
        </div>
      </div>
      <div class="row eol" style="height: 65% !important; margin-top: 30px; overflow: auto !important;">
<div class="col-12">
  <mat-accordion>
    <div class="acoordianParent">
      <mat-expansion-panel id="{{obj.id}}" style="margin: 20px !important;" *ngFor="let obj of allAccessRoleArr" (click)="getAccessRoleById(obj.id); getExpandEvent(obj.id);">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox  style="color: var(--black); font-weight: 500; margin-top: 8px;" [(ngModel)]="obj.chkBox" >{{obj.role_name}}</mat-checkbox>
          <img src="assets/images/info.svg" style="margin-left: 20px; width: 14px; height: 14px; align-self: center;" alt="">

          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-6">
            <span style="font-size: 12px; color: var(--darkGrey); font-weight: 500;">
              can manage
            </span>
          </div>
          <div class="col-6">
            <span style="font-size: 12px; color: var(--darkGrey); font-weight: 500;">
              can perform actions
            </span>
          </div>
        </div>
        <mat-divider style="width: 100% !important;"></mat-divider>
        <div class="eol" style="min-height: 100px !important; max-height: 200px; overflow-y: auto !important; overflow-x: hidden; ">
          <div class="row" style="height: 32px !important;" *ngFor="let accessObj of AccessRoleByIdArr">
            <div class="col-6 d-flex align-items-center" >
              <span style="font-size: 12px;">
                {{accessObj.name}}
              </span>
              </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="col">
                  <img *ngIf="!accessObj.read_access" src="assets/images/icon-eye-solid.svg"  alt="" width="18px"
                  height="18px">
                  <img *ngIf="accessObj.read_access" src="assets/images/icon-eye-solid 1.svg"  alt="" width="18px"
                  height="18px">
                </div>
                <div class="col">
                  <img *ngIf="accessObj.write_access" src="assets/images/ic-edit1.svg"    alt="" width="18px"
                  height="18px">
                  <img *ngIf="!accessObj.write_access" src="assets/images/ic-edit.svg"    alt="" width="18px"
                  height="18px">
                </div>
                <div class="col">
                  <img *ngIf="!accessObj.delete_access" src="assets/images/ic-delete1.svg"   alt="" width="18px"
                  height="18px">
                  <img *ngIf="accessObj.delete_access" src="assets/images/ic-delete.svg"   alt="" width="18px"
                  height="18px">
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-divider style="width: 100% !important;"></mat-divider>

      </mat-expansion-panel>
    </div>

  </mat-accordion>
</div>
      </div>
      <div class="row">
        <div class="col-12" style="display: flex; justify-content:space-between; margin-top: 24px;">
          <span>
            <button mat-stroked-button class="btnStrBasic btnwidth" (click)="toggleSubmenu(1)" >Back</button>
          </span>
          <span style="float: right !important;">
            <button type="submit" mat-raised-button class="basicRaisedbtn btnwidth"  (click)="createRoleUserMapping()">
              Save & Next
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="tabContent" *ngIf="tabCount == 3">
      <div class="row" style="height: 60px !important;">
        <div class="col-6 d-flex align-items-center" style="margin-top: 0px !important; padding-left: 30px;" (click)="toggleGroup(1)" [ngClass]="{'tabHeading' : groupCount != 1, 'tabHeadingSelc': groupCount == 1}">
          <span [ngClass]="{'vehicleHeading' : groupCount != 1, 'vehicleHeadingSelc': groupCount == 1}" >
            Departments
          </span>
          <div class="searchBox">
            <mat-icon class="searchIcon">search</mat-icon>
            <input type="text" class="search_input"  name="searchDeaprtMent" [(ngModel)]="searchDeaprtMent"  placeholder="Search to add" [matAutocomplete]="auto" (keyup)="searchDepartGroupName()">
            <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let obj of DepartlegacyArr" value="{{obj.name}}" (click)="formArrForDepartment()">
                {{obj.name}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-6 d-flex align-items-center" style="margin-top: 0px !important; padding-left: 30px;" (click)="toggleGroup(2)" [ngClass]="{'tabHeading' : groupCount != 2, 'tabHeadingSelc': groupCount == 2}">
          <span [ngClass]="{'vehicleHeading' : groupCount != 2, 'vehicleHeadingSelc': groupCount == 2}">
            Vehicles Group
          </span>
          <div class="searchBox">
            <mat-icon class="searchIcon">search</mat-icon>
            <input type="text" class="search_input" name="searchGroup" [(ngModel)]="searchGroup"  placeholder="Search to add" [matAutocomplete]="auto1" (keyup)="searchGroupByName()"  >
            <mat-autocomplete  autoActiveFirstOption #auto1="matAutocomplete">
              <mat-option *ngFor="let obj of legacyArr" value="{{obj.full_name}}" (click)="formArrForGroup()">
                {{obj.full_name}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 25px;">
        <div class="col-12" style="padding-left: 30px !important; line-height: 1.3 !important;">
          <span style="font-size: 22px; font-weight: 500;">Assign Departments or Vehicles Group to
            <span style="font-weight: 600;" *ngIf="!editFlag" >{{userDataArr?.firstName}}</span>
            <span style="font-weight: 600;" *ngIf="editFlag" >{{specificEditData.firstName}}</span>
            </span> <br>
          <span style="font-size: 14px; color: var(--darkGrey);"> For unassigning any department use the cross icon but make sure you are sure that you want to remove  the department access.</span>
        </div>
      </div>
      <div class="row eol" style="height: 55% !important; margin-top: 30px; overflow: auto !important;">
        <div class="col-12" >
          <div class="warapper" *ngIf="groupCount == 1">
            <div class="cards" *ngFor="let depat of vehicleDepartmentArr">
              <div style="float: right;cursor: pointer;" (click)="deleteDepartment(depat.name)">
                <img src="assets/images/ic-clear.svg"  alt="" width="16px"
                height="16px">
              </div>
              <div class="cardName">
                {{depat.name}}
              </div>
            </div>
          </div>
          <div class="warapper" *ngIf="groupCount == 2">
            <div class="cards" *ngFor="let groups of vehicleGroupArr">
              <div style="float: right;cursor: pointer;" (click)="deleteGroup(groups.full_name)">
                <img src="assets/images/ic-clear.svg"  alt="" width="16px"
                height="16px">
              </div>
              <div class="cardName">
                  {{groups.full_name}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="display: flex; justify-content:space-between; margin-top: 24px;">
          <span>
            <button mat-stroked-button class="btnStrBasic btnwidth" (click)="toggleSubmenu(2)">Back</button>
          </span>
          <span style="float: right !important;">
            <button type="submit" *ngIf="groupCount == 1" mat-raised-button class="basicRaisedbtn btnwidth" (click)="assigndepartmentToUser()">
              Save
            </button>
            <button type="submit" *ngIf="groupCount == 2" mat-raised-button class="basicRaisedbtn btnwidth" (click)="assignGroupToUser()">
              Save
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-sm" id="successModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-11 pr-0 pt-3 ">
          <div class="row">
            <div class="col-12 pr-5 pl-5 pt-3 ">
              <div class="row">
                <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                  <img src="assets/images/ic-done.svg" alt="">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                  {{successMSG}}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 pr-5 pl-5 pt-3 pb-3 d-flex justify-content-center">
              <button type="button" class="btn btn-secondary"
                style="background-color: var(--clor);  font-weight: 500 !important; width: 45% !important;"
                data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" id="errorInput" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-12 pr-0 pt-3 ">
          <div class="row">
            <div class="col-12 pr-5 pl-5 pt-3 ">
              <div class="row">
                <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                  <img src="assets/images/icon-done.svg" alt="">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                  {{statusMsg}}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 pr-5 pl-5 pt-3 pb-3 d-flex justify-content-center">
              <button type="button" class="btn btn-secondary"
                style="background-color: var(--clor);  font-weight: 500 !important; width: 45% !important; "
                data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " style="width: 576px !important;" role="document">
    <div class="modal-content p-4">
      <div class="row mb-3">
        <div class="col-12 ">
          <span class="modal-title d-flex justify-content-center modalHeading"> Delete</span>
          <div class="row mt-3 d-flex justify-content-center">
            <div class="col-12" style="text-align: center !important;">

              <span class="sub-heading" *ngIf="groupCount == 1">
                Are you sure u want to delete "{{currDeletedepartmentName}}"?
              </span>
              <span class="sub-heading" *ngIf="groupCount == 2">
                Are you sure u want to delete "{{currDeleteGroupName}}"?
              </span>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6" style="display: flex; justify-content: center;">
              <button type="button" mat-stroked-button class="btnStrBasic" style="width:90%;"
                data-dismiss="modal">No</button>
            </div>
            <div class="col-6">
              <button type="button" *ngIf="groupCount == 1" class="btn btn-secondary submitDialog" data-dismiss="modal"
                (click)="removeDepartmentFromArr()">Yes</button>
                <button type="button" *ngIf="groupCount == 2" class="btn btn-secondary submitDialog" data-dismiss="modal"
                (click)="removeGroupFromArr()">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

