<div class="container-fluid eol" style="height: calc(100vh - 40px); overflow: auto !important">
  <div class="row heading align-items-center">
    <div class="col-lg-12 headContent">
      EOL Testing
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center toggleRow ">
    <div class="col-lg-1 col-md-4  col-6 responsivePad d-flex justify-content-center align-items-center" >
      <span [class.toggleDevice]='toggle==false' [class.vechileId]='toggle==true' (click)="deviceId()">
        Device ID
      </span>
    </div>
    <div class="col-lg-1 col-md-4  col-6 responsivePad d-flex justify-content-center align-items-center">
      <span [class.toggleDevice]='toggle==true' [class.vechileId]='toggle==false' (click)="vechileId()">
        Vehicle UIN
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center searchRow">
    <div class="col-lg-3">
      <div class="searchBox" [formGroup]="searchForm">
        <input *ngIf="!toggle" type="text" class="search_input" formControlName="name" (keyup.enter)="searchEolTesting()" placeholder="Search Device ID">
        <input *ngIf="toggle" type="text" class="search_input" formControlName="name"  (keyup.enter)="searchEolTesting()" placeholder="Search Vehicle ID">
        <img src="assets/images/search-white-18dp.svg" (click)="searchEolTesting()" class="searchIcon" alt="">
      </div>
    </div>
  </div>

  <div class="row dataRow d-flex justify-content-center ">
    <div class="col-lg-12">
      <div class="row contentRow d-flex justify-content-center align-items-center">
        <div class="col-3">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-sm-12  vechiclePad">
              <span *ngIf="eolTestingArr?.vehicleModel?.deviceSerialNumber" class="rowSpan">
                {{eolTestingArr.vehicleModel.deviceSerialNumber}}
                <span class="rowSpan2">
                Device ID
                </span>
              </span>
              <span *ngIf="!eolTestingArr?.vehicleModel ?.deviceSerialNumber" class="rowSpan">
                <h1>--</h1>
                <span class="rowSpan2">
                  Device ID
                </span>
              </span>
            </div>
            <div class="col-lg-6 col-sm-12  vechiclePad">
              <span *ngIf="eolTestingArr?.vehicleModel?.uin" class="rowSpan">
                {{eolTestingArr.vehicleModel.uin}}
                <span class="rowSpan2">
                  Vehicle UIN
                </span>
              </span>
              <span *ngIf="!eolTestingArr?.vehicleModel?.uin" class="rowSpan">
                <h1>--</h1>
                <span class="rowSpan2">
                  Vehicle UIN
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="col-1"></div> -->

        <div class="col-4 mobilePad " style="padding-right: 25px;">
          <div class="row d-flex justify-content-center align-items-center">
            <!-- <div *ngIf="deviceLinkingLight==0 && gprsLight==0 && ignitionDataLight==0 && gpsLight==0 && insidePlantLight==0" class="theme.flagGrey"></div> -->
            <img
              *ngIf="deviceLinkingLight==0 && gprsLight==0 && ignitionDataLight==0 && gpsLight==0 && insidePlantLight==0 && sosBtnLight==0"
              src="{{theme.flagBlack}}" alt="">
            <img
              *ngIf="deviceLinkingLight==1 && gprsLight==1 && ignitionDataLight==1 && gpsLight==1 && insidePlantLight==1 && sosBtnLight==1"
              src="{{theme.flagOK}}" alt="">
            <img
              *ngIf="deviceLinkingLight==2 || gprsLight==2 || ignitionDataLight==2 || gpsLight==2 || insidePlantLight==2 || sosBtnLight==2"
              src="{{theme.flagNG}}" alt="">
          </div>
        </div>
        <div class="col-3"></div>

      </div>

      <div class="row d-flex justify-content-center pb-2 deviceRow deviceScroll" >
        <div class="col-lg-10 ">
          <div class="row timerRow align-items-center" style="padding-top: 13px !important;">
            <div class="col-5 ">

            </div>
            <div *ngIf="showTimer" class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center responsivePad ">
              <span style="font-size: 18px; color: #838383; letter-spacing: -0.19px;" class="resetTimer">
                Resetting in
              </span>
              <span style="font-size: 18px; color: var(--black); letter-spacing: -0.19px;" class="resetTimer">
                &nbsp; {{timerVar}} secs
              </span>
            </div>
            <div *ngIf="!showTimer" class="col-lg-2 col-md-4 d-flex justify-content-center responsivePad ">

            </div>
            <div class="col-lg-5 col-sm-6 d-flex justify-content-center ">
              <span style="font-size: 18px; color: #838383; padding-right: 16px;">
                Last updated at
              </span>
            </div>
          </div>
          <div class="row d-flex justify-content-center ">
            <div class="col-lg-10">
              <div class="row displayRow align-items-center ">
                <div class="col-lg-4 col-4">
                  <span class="head">
                    Device linking
                  </span>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center">
                  <div class="flagBox align-items-center">
                    <img *ngIf="deviceLinkingLight == 0" src="{{theme.flagGrey}}"  alt="">
                    <img *ngIf="deviceLinkingLight == 1" src="{{theme.flagGreen}}" alt="">
                    <img *ngIf="deviceLinkingLight == 2" src="{{theme.flagRed}}" alt="">
                    <!-- <div *ngIf="deviceLinkingLight == 0" class="flagGrey"></div> -->
                  </div>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <span *ngIf="deviceLinkingLight!=0" class="date">
                    {{createdOnTime | date:'hh:mm a'}} <br>
                    {{createdOnTime | date:'dd/MM/yyyy'}}
                  </span>
                  <span *ngIf="deviceLinkingLight==0 || !createdOnTime" class="date">
                    <!-- <h1>--</h1> <br> -->
                    <h1>--</h1>
                  </span>
                </div>
              </div>
              <div class="row displayRow align-items-center">
                <div class="col-lg-4 col-4">
                  <span class="head">
                    GPRS STATUS
                  </span>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <div class="flagBox d-flex align-items-center ">
                    <!-- <div *ngIf="gprsLight == 0" class="flagGrey"></div> -->
                    <img *ngIf="gprsLight == 0" src="{{theme.flagGrey}}" alt="">
                    <img *ngIf="gprsLight == 1" src="{{theme.flagGreen}}" alt="">
                    <img *ngIf="gprsLight == 2" src="{{theme.flagRed}}" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <span *ngIf="gprsLight!=0" class="date">
                    {{vehicleStateTime | date:'hh:mm a'}} <br>
                    {{vehicleStateTime | date:'dd/MM/yyyy'}}
                  </span>
                  <span *ngIf="gprsLight==0 || !vehicleStateTime" class="date">
                    <!-- <h1>--</h1> <br> -->
                    <h1>--</h1>
                  </span>
                </div>
              </div>
              <div class="row displayRow align-items-center">
                <div class="col-lg-4 col-4">
                  <span class="head">
                    Ignition data
                  </span>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center">
                  <div class="flagBox align-items-center">
                    <!-- <div *ngIf="ignitionDataLight == 0" class="flagGrey"></div> -->
                    <img *ngIf="ignitionDataLight == 0" src="{{theme.flagGrey}}" alt="">
                    <img *ngIf="ignitionDataLight == 1" src="{{theme.flagGreen}}" alt="">
                    <img *ngIf="ignitionDataLight == 2" src="{{theme.flagRed}}" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <span *ngIf="ignitionDataLight!=0 && lastIgnitionTime" class="date">
                    {{lastIgnitionTime | date:'hh:mm a'}} <br>
                    {{lastIgnitionTime | date:'dd/MM/yyyy'}}
                  </span>
                  <span *ngIf="ignitionDataLight==0 || !lastIgnitionTime" class="date">
                    <!-- <h1>--</h1> <br> -->
                    <h1>--</h1>
                  </span>
                </div>
              </div>
              <div class="row displayRow align-items-center">
                <div class="col-lg-4 col-4">
                  <span class="head">
                    GPS data
                  </span>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center">
                  <div class="flagBox align-items-center">
                    <!-- <div *ngIf="gpsLight == 0" class="flagGrey"></div> -->
                    <img *ngIf="gpsLight == 0" src="{{theme.flagGrey}}" alt="">
                    <img *ngIf="gpsLight == 1" src="{{theme.flagGreen}}" alt="">
                    <img *ngIf="gpsLight == 2" src="{{theme.flagRed}}" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <span *ngIf="gpsLight!=0" class="date">
                    {{vehicleStateTime | date:'hh:mm a'}} <br>
                    {{vehicleStateTime | date:'dd/MM/yyyy'}}
                  </span>
                  <span *ngIf="gpsLight==0  || !vehicleStateTime" class="date">
                    <!-- <h1>--</h1> <br> -->
                    <h1>--</h1>
                  </span>
                </div>
              </div>
              <div class="row displayRow align-items-center">
                <div class="col-lg-4 col-4">
                  <span class="head">
                    Inside plant data
                  </span>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center">
                  <div class="flagBox align-items-center">
                    <!-- <div *ngIf="insidePlantLight == 0" class="flagGrey"></div> -->
                    <img *ngIf="insidePlantLight == 0" src="{{theme.flagGrey}}" alt="">
                    <img *ngIf="insidePlantLight == 1" src="{{theme.flagGreen}}" alt="">
                    <img *ngIf="insidePlantLight == 2" src="{{theme.flagRed}}" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <span *ngIf="insidePlantLight!=0" class="date">
                    {{vehicleStateTime | date:'hh:mm a'}} <br>
                    {{vehicleStateTime | date:'dd/MM/yyyy'}}
                  </span>
                  <span *ngIf="insidePlantLight==0 || !systemTime" class="date">
                    <!-- <h1>--</h1> <br> -->
                    <h1>--</h1>
                  </span>
                </div>
              </div>
              <div class="row displayRow align-items-center">
                <div class="col-lg-4 col-4">
                  <span class="head">
                    Help button data
                  </span>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center">
                  <div class="flagBox align-items-center">
                    <!-- <div *ngIf="insidePlantLight == 0" class="flagGrey"></div> -->
                    <img *ngIf="sosBtnLight == 0" src="{{theme.flagGrey}}" alt="">
                    <img *ngIf="sosBtnLight == 1" src="{{theme.flagGreen}}" alt="">
                    <img *ngIf="sosBtnLight == 2" src="{{theme.flagRed}}" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
                  <span *ngIf="sosBtnLight!=0 && lastSosTime" class="date">
                    {{lastSosTime | date:'hh:mm a'}} <br>
                    {{lastSosTime | date:'dd/MM/yyyy'}}
                  </span>
                  <span *ngIf="sosBtnLight==0 || !lastSosTime" class="date">
                    <!-- <h1>--</h1> <br> -->
                    <h1>--</h1>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- success Modal -->
<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-11 pr-0 pt-3 ">
        <span class="modal-title d-flex justify-content-center modalHeading"  id="exampleModalLabel"> EOL Successful</span>
         <div class="row">
           <div class="col-12 pr-5 pl-5 pt-3 ">
            <div class="row">
              <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                Device EOL Test Successful and device mapping has been removed
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                To view results of EOL, Please navigate to "EOL Report" section.
              </div>
            </div>
           </div>
         </div>
          <div class="row mt-3">
            <div class="col-12 pr-5 pl-5 pt-3 pb-3 d-flex justify-content-center">
  <button type="button" class="btn btn-secondary" style="background-color: var(--clor);  font-weight: 500 !important; width: 45% !important; " data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
        <div class="col-1 pl-0">
       <mat-icon class="pt-3" style="margin-left: -16px !important; cursor: pointer;" data-dismiss="modal" >clear</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" id="errorInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-11 pr-0 pt-3 ">
        <!-- <span class="modal-title d-flex justify-content-center modalHeading"  id="exampleModalLabel"> EOL Successful</span> -->
         <div class="row">
           <div class="col-12 pr-5 pl-5 pt-3 ">
            <div class="row">
              <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
                <img  src="assets/images/icon-done.svg" alt="">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12" style="text-align: center; font-size: 16px !important; font-weight: 500;">
               {{statusMsg}}
              </div>
            </div>
           </div>
         </div>
          <div class="row mt-2">
            <div class="col-12 pr-5 pl-5 pt-3 pb-3 d-flex justify-content-center">
  <button type="button" class="btn btn-secondary" style="background-color: var(--clor);  font-weight: 500 !important; width: 45% !important; " data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
        <div class="col-1 pl-0">
       <mat-icon class="pt-3" style="margin-left: -16px !important; cursor: pointer;" data-dismiss="modal" >clear</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>


