<div class="container-fluid p-0">
  <div class="mapRow">
    <div class="cardWidth">
      <div class="d-flex p-2 " style="overflow: hidden;">
        <div class="col-12">
          <div class="row mt-3 ">
            <div class="col-12">
              <button type="button" mat-stroked-button class="mapBtn" style="position: relative; outline: none !important;"
              (click)="back()">
    <img src="assets/images/back_icon.svg"
      style="margin-right: 6px !important; padding-bottom: 2px !important;">
    Go Back
  </button>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <span class="congCode">
                {{vehicleData.vehicleName}}
              </span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <span class="currStatusMap">
                Current Location
              </span>
            </div>
            <div class="col-6 ">
              <span class="liveStatus" >
                {{vehicleData.date | date: 'hh:mm a dd/MM/yy'}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="liveStatus">
                {{endLocation?.address}}
              </span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <span class="currStatusMap">
                District
              </span>
            </div>
            <div class="col-6">
              <span class="liveStatus ">
                {{vehicleData.groupName | uppercase}}
              </span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <span class="currStatusMap">
                Ignition Status
              </span>
            </div>
            <div class="col-6">
              <span class="liveStatus " *ngIf="vehicleData.ignitionStatus">
                ON
              </span>
              <span class="liveStatus " *ngIf="!vehicleData.ignitionStatus">
                OFF
              </span>
            </div>
          </div>
          <!-- <div class="row mt-2">
            <div class="col-6">
              <span class="currStatusMap">
                Loading Status
              </span>
            </div>
            <div class="col-6">
              <span class="liveStatus " *ngIf="vehicleData.loaded">
                Loaded
              </span>
              <span class="liveStatus " *ngIf="!vehicleData.loaded">
                Unloaded
              </span>
            </div>
          </div> -->
          <div class="row mt-2">
            <div class="col-6">
              <span class="currStatusMap">
                Travelled Today
              </span>
            </div>
            <div class="col-6">
              <span class="liveStatus ">
                {{vehicleData.todayskm}}
              </span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <span class="currStatusMap">
                Speed
              </span>
            </div>
            <div class="col-6 ">
              <span class="liveStatus ">
                {{endLocation.speed}} km/hr
              </span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span class="currStatusMap">
                <mat-checkbox (change)="toggle($event)" >Auto center ON/OFF</mat-checkbox>
              </span>
            </div>
          </div>
          <!-- <div class="col-12 p-0 d-flex justify-content-center" style="margin-top: 25px; font-size: 15px; color: white;">
            <button mat-stroked-button class="btnStrBasic" style="width: 100%; height: 40 px; background-color: var(--clor);">Play route</button>
        </div> -->
        <!-- <div class="col-12 p-0 d-flex justify-content-center" style="margin-top: 20px; font-size: 15px; color: var(--black);">
          <button mat-stroked-button class="btnStrBasic" data-toggle="modal"
          (click)=" patchValueSOS(vehicleData.vehicleName)"
          data-target="#exampleModal" style="width: 100%; height: 40 px; background-color: white;">Report an issue</button>
      </div> -->
        </div>
      </div>
    </div>
    <div class="mapWidth  p-0 m-0 ">
      <agm-map #AgmMap [latitude]='28.6139' [longitude]='77.2090'  [fitBounds]="true" >
          <agm-marker  [latitude]="startLocation?.latitude" [longitude]="startLocation?.longitude"  >
            <agm-info-window>
              <div class="iw-content">
                <div class="iw-subTitle">
                  <span class="currStatus">Start Address:</span> &nbsp;
                  <Span class="liveStatus">{{startLocation?.address}}</Span>
                </div>
                <div class="iw-subTitle">
                  <span class="currStatus">Time:</span>&nbsp;
                  <Span class="liveStatus" > {{startLocation?.timeStamp | date: 'hh:mm a dd/MM/yy'}}</Span>
                </div>
              </div>
            </agm-info-window>

          </agm-marker>

          <agm-overlay [latitude]="endLocation?.latitude" [longitude]="endLocation?.longitude">
            <div>
              <img  [src]="pathdraw?.icon" style="transform: rotate({{endLocation?.orientation}}deg);" >
            </div>
            <agm-info-window>
              <div class="iw-content">
                <div class="iw-subTitle">
                  <span class="currStatus">Address:</span> &nbsp;
                  <Span class="liveStatus">{{endLocation?.address}}</Span>
                </div>
                <div class="iw-subTitle">
                  <span class="currStatus">Time:</span>&nbsp;
                  <Span class="liveStatus" > {{endLocation?.timeStamp | date: 'hh:mm a dd/MM/yy'}}</Span>
                </div>
              </div>
            </agm-info-window>
          </agm-overlay>
          <agm-marker  [latitude]="endLocation?.latitude" [longitude]="endLocation?.longitude" [agmFitBounds]="boundbool" [visible]="false"  ></agm-marker>


        <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="theme.polylineColor">
          <agm-polyline-point *ngFor="let coordinate of pathdraw.path; let i=index" [latitude]="coordinate?.latitude" [agmFitBounds]="true"
            [longitude]="coordinate?.longitude">

          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>

    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg " style="width: 576px !important;" role="document">
        <div class="modal-content">
          <div class="row mb-5" [formGroup]="requestSubmitForm">
            <div class="col-11 pr-0 pt-3  ">
            <span class="modal-title d-flex justify-content-center modalHeading"  id="exampleModalLabel"> Report</span>
             <div class="row">
               <div class="col-12 pr-5 pl-5 pt-3 ">
                <div class="row">
                  <div class="col-12" style="padding-left: 42px;">
                    <span class="sub-heading">
                      Please fill up the form to report the issue associated with the vehicle.
                    </span>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-12" style="padding-left: 42px;">
                    <span style="font-size: 12px; font-weight: 400;">Vehicle Name</span>
                    <span style="font-size: 18px; font-weight: 600; padding-left: 12px;">
                      {{vehicleName.value}}
                    </span>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-12" style="padding-left: 42px;">
                    <span style="font-size: 12px; font-weight: 400;">Issue Type</span> <br>
                    <span class="reportIssue">
                      <mat-form-field  appearance="outline" style="width: 100% !important;">
                        <mat-select placeholder="Choose Issue"   #singleSelect style="padding-left: 21px !important; z-index: 2 !important;" formControlName="issueType">
                            <mat-option value="Disconnected">Disconnected</mat-option>
                            <mat-option value="Tampered">Tampered</mat-option>
                            <mat-option value="Data Not Reporting">Data Not Reporting</mat-option>
                            <mat-option value="GPS Bounce">GPS Bounce</mat-option>
                            <mat-option value="Others">Others</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </span>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-12" style="padding-left: 42px;">
                    <span style="font-size: 12px; font-weight: 400;">Issue Description</span> <br>
                    <span>
                      <textarea class="filterInput"  formControlName="issueDescription"></textarea>
                    </span>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 " style="padding-left: 42px;">
        <button type="button" class="btn btn-secondary submitDialog"  data-dismiss="modal" (click)="submitRequest();" >Submit Request</button>
                  </div>
                </div>
               </div>
             </div>

            </div>
            <div class="col-1 pl-0">
           <mat-icon class="pt-3" style="margin-left: -16px !important; cursor: pointer;" data-dismiss="modal" >clear</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
